/* styles.css */
Body{ 
    background-color: #000;
    Color: white;
    font-siZE: 21px; 
}
p{
    color: blueviolet;
}
h1{
    font-size: 42px;
    color: pink;


}
li{
    font-size: 25px;
    color: yellow;

}
.ignore-this-bey {
color: green;

}
#title{
background-color: red;

}